.wrapper-welcome {
    width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-welcome {
    width: 600px;
    margin: 20px 0 20px 0;
}

.description {
    text-align: center;
}
  