.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content {
    
    display: flex;
}

.title__box {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;

    .title {
        color: #edf1d6;
        background-color: #609966;
        cursor: pointer;
        padding: 2px 20px;
        border-radius: 0 8px 8px 0;
    }
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 60px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.row {
    display: flex;
    margin-bottom: 25px;
    font-size: 18px;
}

.row-lable {
    font-weight: bold;
    margin-right: 15px;
    min-width: 150px;
}

.dialogOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
  
.dialogBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    padding: 30px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;

    p {
        margin-bottom: 25px;
        font-size: 18px;
    }

    button {
        margin: 0 10px 0 10px;
        padding: 10px;
        border-radius: 8px;
        border: 0.5px solid #ccc;
        cursor: pointer;
    }
}

.confirmButton {
    background: #4caf50;
    color: #fff;

    &:hover {
        background: #449d48;
    }
}

.cancelButton {
    background: #f44336;
    color: #fff;

    &:hover {
        background: #d32f2f;
    }
}