.interval__box {
    border-radius: 8px;
    padding: 1px 5px;
    text-align: center;
    border: 1px black solid;
    height: fit-content;
}

.interval__box:hover {
    background-color: #60996682;
    cursor: pointer;
}

.inactive{
    background-color: #fd8080;
    cursor: none;
    user-select: none;
}

.inactive:hover{
    background-color: #fd8080;
    cursor: none;
}

.active{
    background-color: #609966;
}