.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter__wrapper {
    display: flex;
    justify-content: space-between;

}

.pitches__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow-y: scroll;
    height: 450px;
}

.pitches__wrapper::-webkit-scrollbar{
    width: 5px;
}

.pitches__wrapper::-webkit-scrollbar-track{
    width: 5px;
}


.pitch__box {
    width: 90%;
    height: 100px;
    display: flex;
    gap: 0 20px;
    box-shadow: 0 10px 20px 0px #a3a3a3;
    border-radius: 8px;
}




.btn {
    border: none;
    outline: none;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 700px;
    color: #FFF;
    
}

.btn--edit {
    background-color: #609966;
}




.done__box {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.btn_done {
    background-color: #609966;
    font-size: 1.3em;
    padding: 5px 20px;
}